{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div class="topnav">
  <a class="active" href=http://127.0.0.1:8000/polls/>Home</a>
  {% if user.is_authenticated %}
    <a href=http://127.0.0.1:8000/accounts/logout/>Logout</a>
  {% else %}
    <a href=http://127.0.0.1:8000/accounts/login/>Login</a>
  {% endif %}
</div>
<!--The nav bar template from W3school-->

<!--Error Message-->
{% if messages %}
    {% for message in messages %}
        <div class="error">
            <a class = "error_message">{{ message }}</a>
        </div>
    {% endfor %}
{% endif %}

<!--Polls list-->
{% if latest_question_list %}
<h1>
    KU Polls
</h1>
{% if user.is_authenticated %}
<p>
    Welcome back, {{user.username.title}}
</p>
{% else %}
    Please <a href="{% url 'login' %}">Login</a> to vote
{% endif %}

<table>
    {% for question in latest_question_list %}
    <tr>
        <td>
            <a>{{ question.question_text }}</a>
        </td>
        <td>
        <td>
            <button>
                <a href="{% url 'polls:detail' question.id %}">Vote</a>
            </button>
        </td>
        <td>
            <button>
                <a href="{% url 'polls:results' question.id %}">Result</a>
            </button>
        </td>
    </tr>
{% endfor %}
</table>

{% else %}
    <p>No polls are available.</p>
{% endif %}

