{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">


<!--Error Message-->
{% if messages %}
    {% for message in messages %}
        <div class="error">
            <h2 class = "error_message">{{ message }}</h2>
        </div>
    {% endfor %}
{% endif %}

<!--Polls list-->
{% if latest_question_list %}
<h1>
    Welcome to KU Polls
</h1>
<table>
    {% for question in latest_question_list %}
    <tr>
        <td>
            <a>{{ question.question_text }}</a>
        </td>
        <td>
        <td>
            <button>
                <a href="{% url 'polls:detail' question.id %}">Vote</a>
            </button>
        </td>
        <td>
            <button>
                <a href="{% url 'polls:results' question.id %}">Result</a>
            </button>
        </td>
    </tr>
{% endfor %}
</table>

{% else %}
    <p>No polls are available.</p>
{% endif %}

