li {
    font-size:30px;
    color: #000551;
    margin-left:150px;
}

li a {
    font-size:30px;
    color: #000551;
}

body {
    background: white url("black_mountains_bg.jpg") no-repeat;
    background-size: cover;
}

form {
    color: #000551;
    background: rgba(155, 179, 255, 0.6);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

input[type="radio"]:checked + label {
    font-weight: bold;
    text-decoration: underline;
}

input[type="submit"] {
    margin-top: 10px;
}


.error_message {
    text-align: center;
    width: 50%;
    background-color: rgba(255, 255, 255, 0);
}

.error{
    color: #D8000C;
    background-color: #FFBABA;
	font-size: 13px;
	border: 1px solid;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

table td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

